<ion-tabs class="tabs-icon-top">

  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Calendar Tab -->
  <ion-tab title="Calendar" icon="icon ion-calendar" href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>